<div id="my_lists">  
  <h2>my lists</h2>
  <span class="new_list"><%= link_to 'create a new list',  new_list_url %></span>
  
  <div id="actual_lists">
    <ul class="list">
      <% @user.lists.each do |list| %>
        <li>
          <%= link_to list.name, edit_list_path(list) %>
          <%= link_to 'x', list_path(list), :title => 'delete list', :confirm => 'Are you sure?', :method => :delete, :remote => :true, :class => 'delete_button' %></td>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div id="feed">
  <span>following lists</span>
  <div class="following">    
    <% if @user.following.size > 0 %>
    <ul>
      <% @user.following.each do |l| %>
        <li><%= link_to "#{l.name}", list_path(l) %></li>
      <% end %>
    </ul>
    <% end %>
    
    <span><%= link_to 'Browse the public lists', lists_path  %></span>
  </div>
</div>