<div id="show_list">
  <%= @list.name %>
  
  <ul>
    <% @list.items.each do |item| %>
      <% if item.persisted?  %>
      <li><%= item.name %></li>
      <% end %>
    <% end %>
  </ul>
  <%= form_for @list do |f| %>
    <%= f.fields_for :items do |item_form| %>
      <%= render :partial => 'item_fields', :locals => { :f => item_form } %>
    <% end %>
    
    <%= link_to_add_fields 'Add new item', f, :items %>
  <% end %>
</div>