<!DOCTYPE html>
<html>
<head>
  <title>Todo List</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="flash notice"><%= notice %></div>
  <div class="flash alert"><%= alert %></div>
  <div id="structure">    
    <a href="/"><h1>to.do</h1></a>
    <div id="menu"></div>
    <%= (render :partial => 'shared/user_area') if user_signed_in? %>
    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
